.imagen-principal {
    width: 300px;
    border-radius: 10px;
}

.miniaturas img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.2s;
}

.producto-rel img {
    width: 120px;
    height: auto;
    border-radius: 10px;
}
nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
}

.logo {
  font-size: 28px;
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 20px;
  position: relative;
}

.dropdown {
  position: relative;
}

.dropdown > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #222;
  padding: 10px;
  border-radius: 6px;
  min-width: 150px;
  z-index: 1000;
}

.dropdown-content a {
  display: block;
  padding: 8px 12px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-content a:hover {
  background-color: #444;
  color: yellow;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.perfil i {
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.perfil i:hover {
  color: yellow;
}
.logo img {
  height: 50px;
  width: auto;
}

